<md-dialog aria-label="Edit Profile">
    <md-toolbar class="md-toolbar-tools">
        <h2>Edit Profile</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$ctrl.close()">
            <md-icon class="icon-clear">clear</md-icon>
        </md-button>
    </md-toolbar>

    <md-dialog-content class="md-dialog-content">
        <form enctype="multipart/form-data">
            <div layout="row" layout-align="space-around center">
                <md-input-container>
                    <label>artist name</label>
                    <input type="text" size="35" ng-model="$ctrl.artistInfo.name">
                </md-input-container>
                <md-input-container>
                    <label>genre</label>
                    <input type="text" ng-model="$ctrl.artistInfo.genre">
                </md-input-container>

                <md-input-container>
                    <label>page url</label>
                    <input type="text" ng-model="$ctrl.artistInfo.pageUrl">
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container>
                    <label>bio</label>
                    <textarea cols="50" rows="5" ng-model="$ctrl.artistInfo.bio"></textarea>
                </md-input-container>
            </div>

            <div layout="row">
                <md-button>
                    <label for="image-input">
                        <md-icon class="icon-file-upload">file_upload</md-icon>
                        profile image
                    </label>
                </md-button>
                <input type="file" name="profile_image" id="image-input" style="display: none;" onchange="angular.element(this).controller().setFile(this)">
                <span flex></span>
                <md-button ng-click="$ctrl.apply()">apply</md-button>
            </div>


        </form>
    </md-dialog-content>
</md-dialog>