<user-toolbar></user-toolbar>

<!--component-->
<md-card>
    <div layout="row" layout-align="center">
        <md-card-title>
            <md-card-title-media>
                <div class="md-media-xl card-media">
                    <img src="assets/prof.jpg">
                </div>
            </md-card-title-media>
        </md-card-title>
        <md-card-content>
            <h2 class="md-display-1">Bio</h2>
            <div>I like to make music and do other stuff.</div>
        </md-card-content>
        <div flex></div>
    </div>
</md-card>

<md-content>
    <md-nav-bar nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-click="" name="tracks">Tracks</md-nav-item>
        <md-nav-item md-nav-click="" name="albums">Albums</md-nav-item>
        <md-nav-item md-nav-click="" name="followers">Followers</md-nav-item>
    </md-nav-bar>
</md-content>

