<user-toolbar user="$ctrl.user" artist="$ctrl.artist"></user-toolbar>

<!--component (will be used later)-->
<md-card>
    <div ng-if=$ctrl.artist.name layout="row" layout-align="space-between center" layout-padding>
        <div class="md-headline">{{$ctrl.artist.name}}</div>
        <h4 class="md-subhead" ng-if=$ctrl.artist.pageUrl>audiobucket.com/artist/{{$ctrl.artist.pageUrl}}</h4>
    </div>
    <div layout="row" layout-align="center">
        <md-card-title>
            <md-card-title-media>
                <div class="md-media-xl card-media">
                    <img src="assets/sacredGeometry.jpeg">
                </div>
            </md-card-title-media>
            <md-card-title-text>
                <div layout="row" layout-align="space-around">
                    <div layout="column" flex="55">
                        <div class="md-headline">Bio</div>
                        <div class="md-subhead">{{$ctrl.artist.bio}}</div>
                    </div>

                    <div layout="column" flex="30">
                        <div class="md-headline">Genre</div>
                        <div class="md-subhead">{{$ctrl.artist.genre}}</div>
                    </div>
                </div>
            </md-card-title-text>
        </md-card-title>
    </div>
</md-card>

<!--Make component-->
<md-content>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="tracks">
            <!--Make the component so that editing is disabled-->
            <tracks-tab-content ng-if="$ctrl.artist" artist="$ctrl.artist"></tracks-tab-content>
        </md-tab>
        <md-tab label="albums">
            <!--Make the component so that editing can be disabled-->
            <albums></albums>
        </md-tab>
        <md-tab label="following">
            <!--Make the component so that editing can be disabled-->
            <followers></followers>
        </md-tab>
        <md-tab label="favorites">
            <div>Favorite tracks go here.</div>
        </md-tab>
    </md-tabs>
</md-content>