<div layout-padding>
    <md-button ng-click="$ctrl.toggleTrackForm()">
        <md-icon class="icon-add" ng-hide="$ctrl.showTrackForm">add</md-icon>
        <span ng-hide="$ctrl.showTrackForm">add track</span>
        <span ng-show="$ctrl.showTrackForm">cancel</span>
    </md-button>
    <tracks-form ng-show="$ctrl.showTrackForm" ng-if="$ctrl.albums" albums="$ctrl.albums"></tracks-form>

    <div layout="row">
        <div layout="column" flex="66">
            <track-card ng-repeat="track in $ctrl.tracks" artist="$ctrl.artist" albums='$ctrl.albums' flex="60" flex-offset="40"
                        track=track></track-card>
        </div>
    </div>
</div>

<!--<audio-player track=$ctrl.tracks[0]></audio-player>-->
